---
http_interactions:
- request:
    method: get
    uri: https://mixpanel.com/api/2.0/funnels?api_key=<MIXPANEL_KEY>&expire=1371655510&format=json&from_date=2013-06-12&funnel_id=<MIXPANEL_FUNNEL>&interval=1&sig=822d5273993b8b06e71358246bfa2d6f&to_date=2013-06-18
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"dates": ["2013-06-12", "2013-06-13", "2013-06-14", "2013-06-15",
        "2013-06-16", "2013-06-17", "2013-06-18"]}, "data": {"2013-06-17": {"steps":
        [{"count": 848, "step_conv_ratio": 1, "goal": "Opened LinkedIn Email", "overall_conv_ratio":
        1, "avg_time": null, "event": "Opened LinkedIn Email"}, {"count": 29, "step_conv_ratio":
        0.03419811320754717, "goal": "Viewed JCA Stream", "overall_conv_ratio": 0.03419811320754717,
        "avg_time": 25755, "event": "Viewed JCA Stream"}], "analysis": {"completion":
        29, "starting_amount": 848, "steps": 2, "worst": 1}}, "2013-06-16": {"steps":
        [{"count": 571, "step_conv_ratio": 1, "goal": "Opened LinkedIn Email", "overall_conv_ratio":
        1, "avg_time": null, "event": "Opened LinkedIn Email"}, {"count": 14, "step_conv_ratio":
        0.024518388791593695, "goal": "Viewed JCA Stream", "overall_conv_ratio": 0.024518388791593695,
        "avg_time": 109055, "event": "Viewed JCA Stream"}], "analysis": {"completion":
        14, "starting_amount": 571, "steps": 2, "worst": 1}}, "2013-06-15": {"step[...]
[...]
- request:
    method: get
    uri: https://mixpanel.com/api/2.0/engage?api_key=<MIXPANEL_KEY>&expire=1371678036&format=json&sig=a8b7467cf6d394ac8cd336500a55be4b&where=properties%5B%22$last_seen%22%5D%20%3E%20%222013-06-18T17:30:36%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status":"ok","session_id":"1371677436-EHunku","page":0,"page_size":1000,"total":54,"results":[{"$distinct_id":"user.linkedin:river$3752","$properties":{"$email":"darren@radius.com","$first_name":"Darren","$last_name":"Waddell","crm":null,"pro":false,"send_emails":true,"$last_seen":"2013-06-19T14:34:48"}},{"$distinct_id":"user.linkedin:river$1143","$properties":{"$email":"bjones@keyconnections.co.za","$first_name":"Brett","$last_name":"Jones","crm":null,"pro":false,"send_emails":true,"$last_seen":"2013-06-19T08:14:40"}},{"$distinct_id":"user.linkedin:river$3735","$properties":{"$email":"ed@kentlyons.com","$first_name":"Edward","$last_name":"Smallman","crm":null,"pro":false,"send_emails":true,"$last_seen":"2013-06-19T04:59:32"}},{"$distinct_id":"user.linkedin:river$1801","$properties":{"$email":"asmoller@achieveit.com","$first_name":"Adam","$last_name":"Smoller","crm":null,"pro":false,"send_emails":false,"$last_seen":"2013-06-19T08:05:53"}},{"$distinct_id":"user.linkedin:river$3484","$properties":{"$email":"jgradt@demandforesight.com","$first_name":"June","$last_name":"Shaw","crm":null,"pro":false,"send_emails":true,"$last_seen":"2013-06-18T19:53:14"}},{"$distinct_id":"user.linkedin:river$3599","$properties":{"$email":"rob.forman@<SENDGRID_USER>.com","$first_name":"Rob","$last_name":"Forman","crm":true,"pro":false,"send_emails":true,"$last_seen":"2013-06-19T16:19:21"}},{"$distinct_id":"user.linkedin:river$3733","$properties":{"$email":"jaci@brandrusso.com","$first_name":"Jaci","$last_name":"Russo","crm":null,"pro":false,"send_emails":true,"$last_seen":"2013-06-19T00:40:06"}},{"$distinct_id":"user.linkedin:river$3756","$properties":{"$email":"audrey.brasuell@cbeyond.com","$first_name":"Audrey","$last_name":"Brasuell","crm":null,"pro":fa[...]
