---
http_interactions:
- request:
    method: get
    uri: https://mixpanel.com/api/2.0/funnels?api_key=<MIXPANEL_KEY>&expire=1371582835&format=json&from_date=2013-06-11&funnel_id=<MIXPANEL_FUNNEL>&sig=e6a9ab140b21d043a430da5775583d5b&to_date=2013-06-17
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"dates": ["2013-06-11", "2013-06-12", "2013-06-13", "2013-06-14",
        "2013-06-15", "2013-06-16", "2013-06-17"]}, "data": {"2013-06-17": {"steps":
        [{"count": 848, "step_conv_ratio": 1, "goal": "Opened LinkedIn Email", "overall_conv_ratio":
        1, "avg_time": null, "event": "Opened LinkedIn Email"}, {"count": 24, "step_conv_ratio":
        0.02830188679245283, "goal": "Viewed JCA Stream", "overall_conv_ratio": 0.02830188679245283,
        "avg_time": 22051, "event": "Viewed JCA Stream"}], "analysis": {"completion":
        24, "starting_amount": 848, "steps": 2, "worst": 1}}, "2013-06-16": {"steps":
        [{"count": 571, "step_conv_ratio": 1, "goal": "Opened LinkedIn Email", "overall_conv_ratio":
        1, "avg_time": null, "event": "Opened LinkedIn Email"}, {"count": 12, "step_conv_ratio":
        0.021015761821366025, "goal": "Viewed JCA Stream", "overall_conv_ratio": 0.021015761821366025,
        "avg_time": 106675, "event": "Viewed JCA Stream"}], "analysis": {"completion":
        12, "starting_amount": 571, "steps": 2, "worst": 1}}, "2013-06-15": {"step[...]
