---
http_interactions:
- request:
    method: get
    uri: https://sendgrid.com/api/stats.get.json?api_key=<SENDGRID_PASSWORD>&api_user=<SENDGRID_USER>&days=7&start_date=2013-04-30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: US-ASCII
      string: ! '[{"delivered": 2363, "unsubscribes": 0, "invalid_email": 2, "bounces":
        18, "repeat_unsubscribes": 0, "unique_clicks": 0, "blocked": 2, "spam_drop":
        0, "repeat_bounces": 37, "repeat_spamreports": 0, "date": "2013-04-24", "requests":
        2419, "spamreports": 0, "clicks": 0, "opens": 0, "unique_opens": 0},{"delivered":
        3059, "unsubscribes": 0, "invalid_email": 2, "bounces": 31, "repeat_unsubscribes":
        0, "unique_clicks": 0, "blocked": 2, "spam_drop": 0, "repeat_bounces": 45,
        "repeat_spamreports": 0, "date": "2013-04-25", "requests": 3133, "spamreports":
        0, "clicks": 0, "opens": 1, "unique_opens": 0},{"delivered": 3856, "unsubscribes":
        0, "invalid_email": 3, "bounces": 29, "repeat_unsubscribes": 0, "unique_clicks":
        0, "blocked": 2, "spam_drop": 0,[...]
