<table width="545" cellpadding="0" cellspacing="25" border="0">
<tr>
  <td align="left">
    <h3><%= report.title %></h3>
    <ul>
    </ul>
  </td>
</tr>
<tr>
  <td align="center"></td>
</tr>
</table>
