<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <style type="text/css">
    body { font-family: Helvetica, Arial, sans-serif; }
  </style>
</head>
<body>
<table cellpadding="0" cellspacing="0" border="0" align="center" width="600">
  <tr>
    <td><h1><%= @title %></h1></td>
  </tr>
  <% @reports.each do |report| -%>
    <tr><td>
    <%= render partial: report.class.name.demodulize.underscore, locals:{report:report} %>
    </td></tr>
  <% end -%>
</table>
</body>
</html>